<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <style>
        .navbar-wrapper {

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar-wrapper ul {
            margin: 0;
        }
    </style>
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-primary" style="background-color: black;">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">
                <img src="clock.jpg" alt="Logo" style="width:40px;">
            </a>
            <h4>Sleep Pattern Tracker</h4>
            <ul>
                <li class="nav active"><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>

    </nav>
    <div class="container ml-6">
        <div class="jumbotron">
            <div class="jumbotron">
                <h3 class="display-4">What is irregular sleep-wake rhythm disorder?
                </h3>


                <div class="row">
                    <div class="col-6">
                        Irregular sleep-wake rhythm disorder ( ISWRD ) is one of several circadian rhythm disorders.
                        Normally, people are awake and asleep in rhythm with their biological clock. This is known as
                        the
                        circadian rhythm. It
                        typically is a cycle that spans 24 hours and synchronizes to a 24-hour day.

                        If you have ISWRD, then you show no clear circadian rhythm. You struggle with wakefulness during
                        conventional sleeping
                        hours and sleepiness during the daytime. Your sleep and wake times show no clear pattern.

                        People with ISWRD may sleep off and on in a series of naps over a 24-hour period. This is
                        similar to
                        infants who may
                        sleep for a few hours and then be awake for a few hours. By definition, to have ISWRD means you
                        must
                        have at least 3
                        sleep periods within a 24-hour period.

                    </div>
                    <div class="col-6">
                        During the day, it may seem like you are sleepy because you nap so much. During the night, it
                        may
                        seem
                        like you have
                        insomnia because you are awake for long periods of time. There is not one main sleep time that
                        occurs at
                        any time of the
                        day or at night. If you add up all of your sleep times, your total sleep time may not be normal
                        for
                        your
                        age.
                    </div>
                </div>
                <hr class="hr-4 display">
                <h3 style="font-weight: lighter ">Best sleep positions</h3>

                <div class="row">
                    <div class="col-3">
                        Let’s face it. Sleep is a big part of our lives — even if we’re not getting eight hours — but
                        there’s
                        more to it than
                        you might think. If you’re having problems getting enough sleep or have an injury, there’s more
                        to it
                        than laying down
                        and catching some Zzz’s.
                    </div>
                    <div class="col-9">
                        Your sleep position plays a big role in your sleep quality, which means it
                        might be time for
                        you to switch it up.

                        Different sleep positions have different benefits. If you’re struggling with pain or other
                        health
                        issues, you might need
                        to switch your sleep position in order to help manage it. And, while it might not be something
                        you can
                        do in one night,
                        it can definitely be worth trying out.

                        Taking the time to gradually train yourself to sleep in a new position could be the secret to
                        improving
                        your sleep
                        quality. However, if that’s something you aren’t comfortable with, don’t stress about it. You
                        can also
                        try modifying
                        your favorite sleep position to make sure you’re getting the most out of it.

                    </div>
                </div>


                </h4>
            </div>
            <div class="row">
                <div class="col-3">
                    <img src="insomenia.jpeg" alt="Logo" style="width:100%; height: 100%;">
                </div>
                <div class="col-6">
                    <h3 class="font-weight: lighter">What are Symptoms of Irregular Sleep-Wake Rhythm Disorder?</h3>
                    <br>
                    <ul>
                        <li>Sleep off and on in a series of naps during the day and at night</li>
                        <li>Have no regular pattern of when they sleep and are awake</li>
                        <li>Have a hard time sleeping well, or are very sleepy when they are awake</li>
                        <li>Have a total sleep time that is not normal for their age </li>
                    </ul>
                </div>
                <div class="col-">

                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <h3>How to Treat Irregular Sleep-Wake Rhythm Disorder?
                    </h3>
                    <p>Treatment for ISWRD is aimed at trying to increase stimulation to reset the sleep clock in the
                        brain.
                        The goal is to
                        have one long sleep time at night and one long awake time during the day.

                    <p> Bright light therapy is one way to help a weakened body clock. Other scheduled behaviors can
                        also
                        help.

                        Education and behavioral counseling can be helpful. Following the rules of good sleep hygiene is
                        an
                        important way to
                        keep one main sleep time. Melatonin may also be used in children and teens but should not be
                        used in
                        older people with
                        dementia. Talk to your medical provider before taking any over-the-counter sleep aid.

                        A doctor may monitor your progress by having you complete a sleep diary during treatment. As
                        research
                        studies continue,
                        more information will become available about the causes and other future treatments of this
                        uncommon
                        sleep disorder.
                </div>


                <div class="col-3">
                    <img src="boot.jpg" alt="Logo" style="width:100%; height: 100%;">

                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.sleepcycle.com/wp-content/uploads/2021/07/exercie-and-sleep-1440x952.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="https://www.sleepcycle.com/how-to-fall-asleep/exercise-and-sleep/">
                                <h5 class="card-title">Exercise and sleep: how workouts work for your sleep</h5>
                            </a>
                            <p class="card-text">Exercise and sleep are intertwined. Explore how exercise helps us sleep
                                better,
                                the best time to exercise to improve
                                sleep, and some sleep-friendly workout ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="	https://www.sleepcycle.com/wp-content/uploads/2021/07/sleep-hacks-for-students-480x317.jpg"
                            class="card-img-top">
                        <div class="card-body">
                            <a href="https://www.sleepcycle.com/sleep-deprivation/sleep-hack-student/">
                                <h5 class="card-title">Study then snooze: top sleep hacks for students</h5>
                            </a>
                            <p class="card-text">Between looming academic demands, practices, family obligations and
                                other extracurriculars, students’ plates are
                                overflowing and sleep often falls to the bottom of the “to do” list. How can
                                students
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <h2>How to use light to reboot your circadian rhythm</h2>
                    <hr class="hr-5 display" />
                    Light is the strongest mechanism we have for synchronizing our internal body clocks with the world
                    around us. But our
                    everyday lives, which are often spent indoors in dim artificial light, easily throw our natural
                    circadian rhythm out of
                    sync.

                    And that isn’t only affecting our sleep. Researchers have shown as many as 73 traits – from
                    alertness to strength – wax
                    and wane depending on the time of day. Our mood also seems to be affected by the amount of light we
                    are exposed to.
                    Recent research shows that our ipRGCs – the cells that help regulate our internal sleep cycle – also
                    connect to the
                    thalamus, an area of the brain related to our mood.
                    While a one-off disruption to our sleep-wake cycle may typically leave us feeling less alert or
                    sleepy during the day, a
                    long-term breakdown of the circadian rhythm can lead to more serious health consequences. In all,
                    dozens of diseases
                    from cardiovascular dysfunction, to immune dysregulation and reproductive problems are all linked
                    either directly or
                    indirectly to circadian disruption.
                </div>

            </div>

        </div>



        <hr class="my-4">
        {{#if message }}
        <h1 class="message_posted">{{message}}</h1>
        {{/if}}

    </div>
    </div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>